.align-items {
	display: flex;
	align-items: center;
	justify-content: center;
}
.filme-info {
	overflow: hidden;
	max-width: 400px;
	background-color: #fff;
	border-radius: 3px;
	-webkit-box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.55);
	-moz-box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.55);
	box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.55);
}
.filme-info h1 {
	text-transform: uppercase;
	font-size: 24px;
	padding: 10px;
	font-weight: 700;
}
.filme-info h3 {
	font-family: 'Roboto Mono', monospace;
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 10px;
	padding: 0 10px;
}
.filme-info p,
.filme-info a {
	font-family: 'Roboto Mono', monospace;
	font-size: 12px;
	text-align: justify;
	padding: 0 10px 10px;
}
.filme-info a {
	font-size: 14px;
	text-transform: uppercase;
	float: right;
}
.filme-info a::before {
	content: "<<";
}
